

// stylings start from here

body {
  font-family: $font-primary;
  font-weight: getFontWeight("normal");
  line-height: 1.6;
  font-size: getTextSize("base");
  background: url('../images/login-bg.jpg');
}


// header
.header-top{
  background: $tea-green;
  min-height: 50px;

  & > .container{
    position: relative;
  }

  &-close-btn{
    background: transparent;
    border: none;
    @include pos-absolute(50%, 16px, auto, auto);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }
}